body {
    font-family: sans-serif;
    background: url('bk.jpg')  no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	 -o-background-size: cover;
 	 background-size: cover;
   	 
}

h1 {
    color: #ddd;
    font-family: 'Garamond', Garamond;
    font-weight: 100;
    font-size: 40px;
    margin: 0px;
}

p{
	color: #ddd;
	 font-family: 'Helvetica Neue', Helvetica;
	 font-weight: 200;
}

.box1{

	background-color: rgba(50,50,50,0.6);
	padding: 20px;
	width: 500px;
	margin: 100px auto;
	text-align: center;
}

.link{
font-size: 20px;  
 font-family: 'Garamond', Garamond;
}